<form action="/edit/{{measure.Index}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Index">INDEX</label>
            <input id="Index" type="text" class="form-control" placeholder="index" name="Index" value="">
        </div>
        <div class="col">
            <label for="Height_Inches">HEIGHT</label>
            <input id="Height_Inches" type="text" class="form-control" placeholder="height" name="Height_Inches" value="">
        </div>
        <div class="col">
            <label for="Weight_Pounds">WEIGHT</label>
            <input id="Weight_Pounds" type="text" class="form-control" placeholder="weight" name="Weight_Pounds" value="">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>